body {
  margin: 0;
  font-family: sans-serif;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
  padding: 0;
}

input, select, textarea, button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  vertical-align: text-bottom;
}

label {
  display: inline-block;
}
